@page "/"
@using Sorting.Services
@using MessagePipe
@inject DimensionService dimension
@implements IDisposable

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p>@dimensions</p>
<button @onclick=OnClick> getsize </button>

@code {
    Dimension2D? dimensions;
    IDisposable? subscription;
    protected override async Task OnInitializedAsync()
    {
        this.dimensions = await dimension.GetInnerWindowDimensions();

        this.subscription = dimension.OnResize.Subscribe(async s => 
            { 
                this.dimensions = await s.GetInnerWindowDimensions();
                this.StateHasChanged();
            });
    }

    private async void OnClick()
    {
        this.dimensions = await dimension.GetInnerWindowDimensions();
    }

    public void Dispose()
    {
        this.subscription?.Dispose();
    }
}